@media (max-width: 600px){
    .products{
        display: inherit;
        height: auto;
    }

    .product{
        margin: auto;
    }

    .main_section{
        padding: 4%;
    }

    .los_mas, .mentions{
        display: inherit;
    }
}