
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

:root{
    --gray-color: gray;
    --white-color: white;
    --black-color: black;
    --green-color: #7FFFD4;

    --space: 10px;

    --normal: 12px;

    --box: 0px 0 2px 1px #bcc1bd;

}

html,body{
    padding: 0px;
    margin: 0px;
    font-size: var(--normal);
    font-family: 'Rubik Glitch', cursive;
}

p, label {
    font-size: var(--normal);
}


nav{
    display: flex;
    background-color: var(--gray-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a{
    color: var(--black-color);
    text-decoration: none;
}

nav li a:hover{
    color: var(--white-color);
}

hr {
    opacity: .2%;
}

.main_section{
    padding: 15%;
    text-align: center;
}

.products{
    background-image: url("../images/curve.png");
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 20%;
    display: flex;
}

.product{
    padding: var(--space);
    margin-top: -240px;
}

.product .content{
    background-color: var(--white-color);
    padding: 15px;
    box-shadow: var(--box);
}

.img_content {
    text-align: center;    
}

hr {
    opacity: .2;
}

.main_button{
    background-color: var(--gray-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover{
    background-color: #4b4848;
}

.los_mas{
    padding: 10%;
    display: flex;
}

.el_mas{
    text-align: center;
    padding: 20px;
}

h2.mentions_tittle{
    text-align: center;
}

.mentions{
    display: flex;
    padding: 5%;
}

.mention {
    padding: var(--space);
}

.content_mention{
    box-shadow: var(--box);
    /* padding: 10px; */
}

.mentions img{
    width: 100%;
}

.mention .text{
    padding: var(--space);
}

.modulo_pago {
    background-color: var(--white-color);
    box-shadow: var(--box);
    padding: var(--space);
}

.modulo_pago_images {
    max-width: 150px;
    text-align: center;
    margin: auto;
}

.data {
    margin-top: var(--space);
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid var(--black-color);
    box-sizing: border-box;
}

.modulo_pago main_btn {
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: var(--normal);
    background-color: var(--black-color);
    padding: var(--space);
    color: var(--white-color);
}

.contact a{
    color: var(--green-color);
}